Web/NoPaper/Web.config
Web/NoPaper/.vs/NoPaper/FileContentIndex/af76428e-65f6-4d1e-9c82-b273b4912caa.vsidx
*.config
/Web/NoPaper/.vs
/Web/NoPaper/packages
/Web/NoPaper/bin
/Web/NoPaper/obj
Web/NoPaper/NoPaper.csproj
Web/NoPaper/NoPaper.csproj
*.pubxml
/Web/NoPaper/Properties/PublishProfiles
/Web/NoPaper/java/Component
/Web/NoPaper/java/Pages
